*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.category-container{
    max-width: 1412px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}